* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-icon{
    width: 8rem !important;
    height: 5rem !important;
}

.owl-nav {
    display: flex !important;
    justify-content: center;
}

.completed {
    background-color: rgba(0, 255, 0, 0.1);
}

button {
    font-size: 14px !important;
    font-weight: bold !important;
}

#addbtn {
    background-color: #0A74DA;

}

.delete-btn {
    background-color: #FF4C4C;
    color: white;
}

.owl-stage-outer {
    text-align: center;
}

.card h5 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type='checkbox'] {
    width: 1.5rem;
    height: 1.5rem;
    align-self: center;
    margin-bottom: 1%;
}

/* adding and removing transformation*/

.new-element {
    transform: translateX(2000px);
}


.removing {
    transform: translateX(1000px);
    transition-duration: 0.5s;
}

.adding {
    transform: translateX(0px) !important;
    transition-duration: 1s !important;
}